@import "../../common/styles/sass/variables.scss";

.projectsBlock {
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 6.5rem 0;

    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .projects {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 960px) {
                justify-content: center;
            }
        }
    }
}