.mainBlock {
    height: 100vh;
    background-color: azure;
}

.text {
    width: 300px;
    background-color: bisque;
    padding: 10px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: bisque;
}