.skillsBlock {
    min-height: 100vh;
    background-color: aquamarine;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleColor {
    background-color: #ff9f29;
}

@media (max-width: 960px) {
    .skills {
        justify-content: center;
    }
}