.project {
    width: 250px;
    border: 1px solid;
}

.project div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: green;
    margin: 20px;
}

.projectName {
    font-weight: bold;
}