.project {
    margin: 15px;
    background-color: azure;
}

.imgContainer {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images1.content-hci.com/commimg/myhotcourses/blog/post/myhc_89683.jpg");
    background-size: cover;
    background-position: center;
}

.project div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.projectName {
    font-weight: bold;
}

button:hover {
    color: red;
}